name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  root:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test

  legacy-examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["9.x", "10.x", "12.x", "13.x", "14.x"]

    container: cypress/browsers:node18.12.0-chrome107
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Cypress ${{ matrix.version }}
        run: |
          yarn --cwd examples/${{ matrix.version }} install --frozen-lockfile
          yarn --cwd examples/${{ matrix.version }} cy:run
      - uses: actions/upload-artifact@v5
        if: always()
        continue-on-error: true
        with:
          name: artifacts-test-${{ matrix.version }}
          path: |
            **/screenshots/**/*
            **/videos/**/*

  examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["15.x"]

    container: cypress/browsers:node-24.11.1-chrome-142.0.7444.162-1-ff-145.0-edge-142.0.3595.65-1
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Cypress ${{ matrix.version }}
        run: |
          yarn --cwd examples/${{ matrix.version }} install --frozen-lockfile
          yarn --cwd examples/${{ matrix.version }} cy:run
      - uses: actions/upload-artifact@v5
        if: always()
        continue-on-error: true
        with:
          name: artifacts-test-${{ matrix.version }}
          path: |
            **/screenshots/**/*
            **/videos/**/*
